* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
}
:root {
  --background-nav: rgba(36, 37, 38);
  --background-up-profile: rgba(36, 37, 38);
  --background-post: rgba(36, 37, 38);
  --border-bottom-nav: rgba(57, 58, 59);
  --hover-overlay: rgba(255, 255, 255, 0.1);
  --background-icon: rgba(255, 255, 255, 0.1);
  --border-item: rgba(255, 255, 255, 0.02);
  --background-icon-arrow: rgba(255, 255, 255, 0.05);
  --background-icon-arrow-hover: rgba(255, 255, 255, 0.1);
  --hover-icon-overlay: rgba(255, 255, 255, 0.2);
  --background-searchBar: rgba(255, 255, 255, 0.1);
  --background-button: rgba(255, 255, 255, 0.1);
  --background-button-hover: rgba(255, 255, 255, 0.2);
  --background-main: rgba(24, 25, 26);
  --background-black: rgba(0, 0, 0);
  --shadow-1: rgba(0, 0, 0, 0.05);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --primary-text: #e4e6eb;
  --primary-text-button: #fff;
  --secondary-text: #b0b3b8;
  --color-search: #b0b3b8;
  --color-blue: #4394f5;
  --button-blue: #2d88ff;
  --color-text-tab: #2e89ff;
  --disabled-button-background: rgba(255, 255, 255, 0.2);
  --scrollbar-thumb: #3b3d41;
  --scrollbar-background: #18191a;
}

body {
  background: var(--background-post);
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--secondary-text);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--secondary-text);

  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--secondary-text);

  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--secondary-text);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--secondary-text);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--secondary-text);
}

::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  border-radius: 50px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
  border-radius: 100px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 100px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb);
}
