* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
}
:root {
  --background-nav: rgba(36, 37, 38);
  --background-up-profile: rgba(36, 37, 38);
  --background-post: rgba(36, 37, 38);
  --border-bottom-nav: rgba(57, 58, 59);
  --hover-overlay: rgba(255, 255, 255, 0.1);
  --hover-overlay-005: rgba(255, 255, 255, 0.05);
  --background-icon: rgba(255, 255, 255, 0.1);
  --border-item: rgba(255, 255, 255, 0.05);
  --background-icon-arrow: rgba(255, 255, 255, 0.05);
  --background-icon-arrow-hover: rgba(255, 255, 255, 0.1);
  --hover-icon-overlay: rgba(255, 255, 255, 0.2);
  --hover-1: rgba(255, 255, 255, 0.1);
  --hover-2: rgba(255, 255, 255, 0.2);
  --hosted-view-selected-state: rgba(45, 136, 255, 0.1);
  --background-searchBar: rgba(255, 255, 255, 0.1);
  --background-button: rgba(255, 255, 255, 0.1);
  --background-button-hover: rgba(255, 255, 255, 0.2);
  --background-main: rgba(24, 25, 26);
  --messenger-card-background: rgba(36, 37, 38);
  --background-black: rgba(0, 0, 0);
  --card-background: #242526;
  --shadow-1: rgba(0, 0, 0, 0.05);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --primary-text: #e4e6eb;
  --primary-text-button: #fff;
  --always-white: #fff;
  --notification-badge: #f02849;
  --secondary-text: #b0b3b8;
  --color-search: #b0b3b8;
  --color-blue: #4394f5;
  --button-blue: #2d88ff;
  --button-blue-hover: #4b99ff;
  --color-text-tab: #2e89ff;
  --base-blue: #1877f2;
  --accent: hsl(214, 100%, 59%);
  --primary-deemphasized-button-background: rgba(45, 136, 255, 0.2);
  --primary-deemphasized-button-text: #2d88ff;
  --disabled-button-background: rgba(255, 255, 255, 0.2);
  --disabled-icon: rgba(255, 255, 255, 0.3);
  --scrollbar-thumb: #3b3d41;
  --scrollbar-background: #18191a;
  --secondary-button-background: rgba(255, 255, 255, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
}

body {
  background: var(--background-post);
}

a {
  color: #2d88ff;
  text-decoration: none;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--secondary-text);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--secondary-text);

  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--secondary-text);

  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--secondary-text);
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--secondary-text);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--secondary-text);
}

::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  border-radius: 50px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
  border-radius: 100px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 100px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb);
}

/* Chat Scrollbar */
#bodyChat::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  border-radius: 50px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: var(--messenger-card-background);
  border-radius: 100px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 100px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb);
}

.show {
  opacity: 1 !important;
  transform: translate(0, 0) scale(1) !important;
}

.reaction-icon {
}

.like-btn {
}

.like-btn::before {
}
